<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
<div class="message-container container col-6">
    <form action="/sendEmails" method="post">
        <div class="form-group">
            <label class="messageLabel" for="message">Message to send</label>
            <input class="form-control messageInput" id="message" aria-describedby="msgHelp" placeholder="Enter message"
                   name="msg">
        </div>
        <div class="messageHandler">
            <button type="submit" class="sendMessageButton btn btn-primary sendText">Send message!</button>
        </div>
    </form>
</div>
</body>
</html>
